aws-cdk.aws-cloudformation==1.134.0
aws-cdk.aws-codepipeline==1.134.0
aws-cdk.aws-codepipeline-actions==1.134.0
aws-cdk.aws-ecr==1.134.0
aws-cdk.aws-ecr-assets==1.134.0
aws-cdk.aws-s3==1.134.0
aws-cdk.aws-s3-assets==1.134.0
aws-cdk.aws-sqs==1.134.0
aws-cdk.aws-ssm==1.134.0
aws-cdk.core==1.134.0
aws-cdk.cx-api==1.134.0
aws-cdk.region-info==1.134.0
constructs==3.3.156
