attrs
aws-cdk.aws-lambda
aws-cdk.aws-config
aws-cdk.aws-events
aws-cdk.aws-iam
aws-cdk.aws-kms
aws-cdk.aws-s3
aws-cdk.cloud-assembly-schema
aws-cdk.core
aws-cdk.cx-api
aws-cdk.region-info
cattrs
constructs==3.3.69
jsii
publication
python-dateutil
six
typing-extensions
#aws-cdk-lib>=2.0.0rc1


