attrs==21.2.0
aws-cdk.aws-events==1.124.0
aws-cdk.aws-iam==1.124.0
aws-cdk.aws-kms==1.124.0
aws-cdk.aws-s3==1.124.0
aws-cdk.cloud-assembly-schema==1.124.0
aws-cdk.core==1.124.0
aws-cdk.cx-api==1.124.0
aws-cdk.region-info==1.124.0
cattrs==1.8.0
constructs>=3.3.156
jsii==1.35.0
publication==0.0.3
python-dateutil==2.8.2
six==1.16.0
typing-extensions==3.10.0.2
#aws-cdk-lib>=2.0.0rc1


