attrs
aws-cdk.aws-lambda==1.134.0
aws-cdk.aws-config==1.134.0
aws-cdk.aws-events==1.134.0
aws-cdk.aws-iam==1.134.0
aws-cdk.aws-kms==1.134.0
aws-cdk.aws-s3==1.134.0
aws-cdk.cloud-assembly-schema==1.134.0
aws-cdk.core==1.134.0
aws-cdk.cx-api==1.134.0
aws-cdk.region-info==1.134.0
cattrs
constructs==3.3.69
jsii
publication
python-dateutil
six
typing-extensions
#aws-cdk-lib>=2.0.0rc1


